<%= form_for [:admin, @railway_station] do |f| %>
  <% if railway_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errors') %></h2>

      <ul>
        <% @railway_station.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field size">
    <%= f.label :title, 'Назва локації' %>
    <%= f.text_field :title %>
  </div>

  <div class="field size">
    <%= f.label :price, 'Ціна екскурсії на локації' %>
    <%= f.number_field :price %>
  </div>

  <div class="actions size">
    <%= f.submit t('.submit', action: @railway_station.new_record? ? 'Cтворити' : 'Змінити') %>
  </div>
<% end %>
