<h1><%= t('.title') %></h1>

<%= form_for [:admin, @route] do |form| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errors') %></h2>

      <ul>
        <% @route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field size">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field size">
    <%= form.label :railway_station_ids, 'Станції' %>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true } %>
  </div>

  <div class="actions size">
    <%= form.submit 'Створити' %>
  </div>
<% end %>

<hr>
<%= link_to t('common.back'), admin_routes_path, class: "buttonItem size" %>