<p id="notice"><%= notice %></p>

<p>
  <h3><strong class="size">Назва:</strong><%= @route.title %></h3>
</p>

<p>
  <h3><strong class="size">Ціна маршруту: <%= @route.total_price %> грн.</strong></h3>
</p>

<% if @route.trains.empty? %>
  <p class="size">Потягів на маршрут немає!</p>
<% else %>
  <p class="size">Список потягів на маршруті:</p>
  <ul>
  <% @route.trains.each do |train| %>
    <li class="size"><%= train.number %></li>
  <% end %>
  </ul>
<% end %>

<% if @route.railway_stations.empty? %>
  <p class="size">Станцій на маршруті немає!</p>
<% else %>
  <table>
    <thead>
      <tr>
        <td width="100px" class="size">Назва станції</td>
        <td width="250px" class="size">Позиція</td>
        <td width="250px" class="size">Прибуття</td>
        <td width="300px" class="size">Відправлення</td>
      </tr>
    </thead>
    <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
      <tr>
        <td><strong class="size"><%= station.title %></strong></td>
        <td class="size">
          <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
            <%= number_field_tag :position, station.position_in(@route)%>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag("Змінити")%>
          <% end %>
        </td>
        <td class="size">
        <%= form_tag update_time_admin_railway_station_path(station), method: :patch do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= date_field_tag(:arrival_time, station.arrival_time(@route))%>
        </td>
        <td class="size"><%= date_field_tag(:departure_time, station.departure_time(@route))%>
            <%= submit_tag("Змінити") %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<%= link_to t('common.edit'), edit_admin_route_path(@route), class: "buttonItem size" %>
<hr>
<%= link_to t('common.back'), admin_routes_path, class: "buttonItem size" %>
