<p id="notice"><%= notice %></p>

<p>
  <strong>Назва:</strong>
  <%= @route.title %>
</p>

<% if @route.trains.empty? %>
  <p>Потягів на маршрут немає!</p>
<% else %>
  <p>Список потягів на маршруті:</p>
  <ul>
  <% @route.trains.each do |train| %>
    <li><%= train.number %></li>
  <% end %>
  </ul>
<% end %>

<% if @route.railway_stations.empty? %>
  <p>Станцій на маршруті немає!</p>
<% else %>
  <table>
    <thead>
      <tr>
        <td width="100px">Назва станції</td>
        <td width="250px">Позиція</td>
        <td width="250px">Прибуття</td>
        <td width="300px">Відправлення</td>
      </tr>
    </thead>
    <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
      <tr>
        <td><strong><%= station.title %></strong></td>
        <td>
          <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
            <%= number_field_tag :position, station.position_in(@route)%>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag "Змінити" %>
          <% end %>
        </td>
        <td>
        <%= form_tag update_time_admin_railway_station_path(station), method: :patch do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= date_field_tag(:arrival_time, station.arrival_time(@route))%>
        </td>
        <td><%= date_field_tag(:departure_time, station.departure_time(@route))%>
            <%= submit_tag("Змінити") %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<%= link_to 'Змінити', edit_admin_route_path(@route) %> |
<%= link_to 'Повернутись', admin_routes_path %>
