 <div class="container">
        <div class="card e0">
            <div class="border">
                <h2 style="color: black;">Карпатська казка</h2>
                <h2 style="color: red;">3600 грн.</h2>
                <div class="icons">
                    <a href="#"><i class="fa fa-instagram" id=ins><%= image_tag('instargam.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=tg><%= image_tag('facebook.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=fac><%= image_tag('telegram.svg') %></i></a>
                </div>
            </div>
        </div>
        <div class="card e1">
            <div class="border">
                <h2 style="color: black;">Вечірній Львів</h2>
                <h2 style="color: red;">2400 грн.</h2>
                <div class="icons">
                    <a href="#"><i class="fa fa-instagram" id=ins><%= image_tag('instargam.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=tg><%= image_tag('facebook.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=fac><%= image_tag('telegram.svg') %></i></a>
                </div>
            </div>
        </div>
        <div class="card e2">
            <div class="border">
                <h2 style="color: black;">Грандіозна столиця</h2>
                <h2 style="color: red;">3400 грн.</h2>
                <div class="icons">
                    <a href="#"><i class="fa fa-instagram" id=ins><%= image_tag('instargam.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=tg><%= image_tag('facebook.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=fac><%= image_tag('telegram.svg') %></i></a>
                </div>
            </div>
        </div>
        <div class="card e3">
            <div class="border">
                <h2 style="color: black;">Перлина Одеса</h2>
                <h2 style="color: red;">4000 грн.</h2>
                <div class="icons">
                    <a href="#"><i class="fa fa-instagram" id=ins><%= image_tag('instargam.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=tg><%= image_tag('facebook.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=fac><%= image_tag('telegram.svg') %></i></a>
                </div>
            </div>
        </div>
    </div>
