 <div class="container">
        <div class="card card0">
            <div class="border">
                <h2>Denis Kozlovskiy</h2>
                <h2 style="color: red;">Backend dev</h2>
                <div class="icons">
                    <a href="#"><i class="fa fa-instagram" id=ins><%= image_tag('instargam.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=tg><%= image_tag('facebook.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=fac><%= image_tag('telegram.svg') %></i></a>
                </div>
            </div>
        </div>
        <div class="card card1">
            <div class="border">
                <h2>Pasha Zaikin</h2>
                <h2 style="color: red;">Designer</h2>
                <div class="icons">
                    <a href="#"><i class="fa fa-instagram" id=ins><%= image_tag('instargam.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=tg><%= image_tag('facebook.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=fac><%= image_tag('telegram.svg') %></i></a>
                </div>
            </div>
        </div>
        <div class="card card2">
            <div class="border">
                <h2>Bohdan Dovhanenko</h2>
                <h2 style="color: red;">Frontend dev</h2>
                <div class="icons">
                    <a href="#"><i class="fa fa-instagram" id=ins><%= image_tag('instargam.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=tg><%= image_tag('facebook.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=fac><%= image_tag('telegram.svg') %></i></a>
                </div>
            </div>
        </div>
        <div class="card card3">
            <div class="border">
                <h2>Sania</h2>
                <h2 style="color: red;">QA engineer</h2>
                <div class="icons">
                    <a href="#"><i class="fa fa-instagram" id=ins><%= image_tag('instargam.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=tg><%= image_tag('facebook.svg') %></i></a>
                    <a href="#"><i class="fa fa-telegram" id=fac><%= image_tag('telegram.svg') %></i></a>
                </div>
            </div>
        </div>
    </div>
