<h1 style="padding-left: 20px;">Білети</h1>

<table>
  <thead>
  <tr>
    <th width="60px" class="size">Білет id</th>
    <th width="90px" class="size">Користувач id</th>
    <th width="90px" class="size">Ім'я користувача</th>
    <th width="90px" class="size">Прізвище користувача</th>
    <th width="90px" class="size">По-батькові користувача</th>
    <th width="50px" class="size">Паспорт</th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket|%>
  <tr>
    <td class="size"><%= ticket.id %></td>
    <td class="size"><%= ticket.user_id %></td>
    <td class="size"><%= ticket.user_first_name %></td>
    <td class="size"><%= ticket.user_last_name %></td>
    <td class="size"><%= ticket.user_fathers_name %></td>
    <td class="size"><%= ticket.user_passport %></td>
    <td><%= link_to 'Видалити', ticket_path(ticket), method: :delete, class: "buttonItem size" %></td>
  </tr> 
  <% end %>
  </tbody>

</table>

<br>

<%= link_to 'Шукати далі', search_index_path, class: "buttonItem size" %> 
<hr>
<%= link_to 'На головну сторінку', root_path, class: "buttonItem size" %> 