<table>
  <thead>
  <tr>
    <th width="80px" class="size">ID Квитка</th>
    <th width="80px" class="size">ID Користувача</th>
  </tr>
  </thead>
  <tbody>
  <%= render @ticket %>
  <tr>
    <th width="70px" class="size">Ім'я користувача</th>
    <th width="70px" class="size">По-батькові</th>
    <th width="70px" class="size">Прізвище</th>
    <th width="70px" class="size">Паспорт</th>
  </tr>
  <tr>
    <td class="size"><%= @ticket.user_first_name %></td>
    <td class="size"><%= @ticket.user_fathers_name %></td>
    <td class="size"><%= @ticket.user_last_name %></td>
    <td class="size"><%= @ticket.user_passport %></td>
  </tr>
  </tbody>
</table>