<div class="section-inner">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1>Вхід</h1>
    <div class="field size">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field size">
      <%= f.label :password, "Пароль" %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field size">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Запам'ятати мене" %>
      </div>
    <% end %>

    <div class="actions size">
      <%= f.submit "Вхід", class: "buttonAdmin" %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>


</div>