<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<% if @train.route.nil? %>
  <p>Маршрут не призначений!</p>
<% else %>
  <p><strong>Маршрут потяга: </strong><%= @train.route.title %></p>
  <% end %>

<% if @train.wagons.count == 0 %>
  <p>У потяга немає вагонів!</p>
<% else %>
<strong>Вагони:</strong>
  <% if @train.order_wagon %>
    <p><strong>Нумерація з голови</strong></p>
  <% else %>
    <p><strong>Нумерація з хвоста</strong></p>
  <% end %>

  <% @train.wagons.order_all_wagons(@train).each do |wagon| %>
    <p><tr>
      <td><strong><%= link_to "Номер вагона: #{wagon.number_wag}", admin_wagon_path(wagon) %></strong></td>
      <td><strong><%= wagon.type %></strong></td>
    </tr></p>
  <% end %>
<% end %>

<%= link_to 'Додати вагон', new_admin_train_wagon_path(@train) %> |
<%= link_to 'Змінити', edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
