<%= form_for([:admin, @current_train, @wagon.becomes(Wagon)]) do |form| %>
  <% if @wagon.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errors') %></h2>

      <ul>
        <% @wagon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= form.label :type %><br>
      <%= form.select :type, Wagon::TYPES, selected: @wagon.type || 'EconomWagon' %>
  </div>

  <div class="field high_seats seats">
    <%= form.label :high_seats %>
    <%= form.number_field :high_seats %>
  </div>

  <div class="field low_seats seats">
    <%= form.label :low_seats %>
    <%= form.number_field :low_seats %>
  </div>

  <div class="field side_low_seats seats">
    <%= form.label :side_low_seats %>
    <%= form.number_field :side_low_seats %>
  </div>

  <div class="field side_high_seats seats">
    <%= form.label :side_high_seats %>
    <%= form.number_field :side_high_seats %>
  </div>

  <div class="field econom_seats seats">
    <%= form.label :econom_seats %>
    <%= form.number_field :econom_seats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
