<p id="notice"><%= notice %></p>

<h1 style="padding-left: 20px;">Вагони</h1>

<table>
  <thead>
  </thead>

  <tbody>
    <% @wagons.each do |wagon|%>
    <tr>
      <td class="size">Тип вагона: <%= wagon.type %>, номер вагона: <%= wagon.number_wag%></td>
      <td><%= link_to t('common.show'), admin_wagon_path(wagon), class: "buttonItem size" %></td>
      <td><%= link_to t('common.delete'), admin_wagon_path(wagon), class: "buttonItem size", method: :delete, data: { confirm: 'Ви впевнені?' }%></td>
    </tr>
    <%end%>
    
  </tbody>
</table>

<br>

<%= link_to 'Новий вагон', new_admin_wagon_path, class: "buttonItem size" %>
<hr>
<%= link_to t('common.back'), wellcome_index_path, class: "buttonItem size" %>
