<p id="notice"><%= notice %></p>

<p>
  <strong>Тип вагона:</strong>
  <%= @wagon.type %>
</p>

<p>
  <strong>Номер вагона:</strong>
  <%= @wagon.number_wag %>
</p>

<% if @wagon.high_seats %>
  <p>Верхніх місць:<%= @wagon.high_seats %></p>
<% end %>

<% if @wagon.low_seats %>
  <p>Нижніх місць:<%= @wagon.low_seats %></p>
<% end %>

<% if @wagon.high_seats %>
  <p>Верхніх бокових місць:<%= @wagon.side_high_seats %></p>
<% end %>

<% if @wagon.low_seats %>
  <p>Нижніх бокових місць:<%= @wagon.side_low_seats %></p>
<% end %>

<% if @wagon.econom_seats %>
  <p>Сидячих місць:<%= @wagon.econom_seats %></p>
<% end %>

<%= link_to t('common.edit'), edit_admin_wagon_path(@wagon) %> 
<%= link_to t('common.delete'), admin_wagon_path(@wagon), method: :delete, data: { confirm: 'Ви впевнені?' } %> 
<%= link_to t('common.back'), admin_train_path(@wagon.current_train) %> 