<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityT</title>
    <!-- *імпортуєм шрифти -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;800;900&display=swap"
        rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "style", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!-- ******** -->
    <!--<link rel="stylesheet" href="app/assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="app/assets/stylesheets/style.css">-->
</head>

<body>
    <!-- &Хедер -->
    <section class="section-outer section-header">
        <div class="menuBack">
            <div class="section-inner">
                <!-- !Вставляєм логотип -->
                <div class="section-header-logo">
                  <%= link_to image_tag('CityT.svg'), wellcome_index_path, class: 'img-responsive img-rounded'%>
                </div>
                <!-- !Прописуєм меню -->
                <div class="section-header-nav">
                    <ul>
                        <div class="menu1">
                            <a href="#">
                            <li><%= link_to "Білети", current_user&.admin ? admin_tickets_path : tickets_path %></li>
                            </a>
                        </div>
                        <div class="menu2">
                            <a href="#">
                                <li><%= link_to "Топ екскурсій", edit_lending_path(2) %></li>
                            </a>
                        </div>
                        <div class="menu3">
                            <a href="#">
                                <li><%= link_to "Про нас", lending_path(2) %></li>
                            </a>
                        </div>
                        <% if user_signed_in? && current_user.admin? %>
                        <div class="menu4">
                            <li><%= link_to "Адмінка", wellcome_index_path, class: "btnNav" %></li>
                        </div>
                        <% end %>
                    </ul>
                </div>
                <!-- !Добавляєм кнопку вхід -->
                <div class="section-header-in">
                    <% if user_signed_in? %>
                      <%= button_to "Вийти", destroy_user_session_path, class: "btnNav", method: :delete %>
                    <% else %>
                      <%= button_to "Увійти", new_user_session_path, class: "btnNav" %>
                   <% end %>
                </div>
            </div>
        </div>
    </section>
    <section class="section-outer section-job">
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div>
    </section>
    <footer>
    <% unless current_user&.admin %>
        <section class="section-outer section-footer">
            <div class="footer-background">
                <div class="section-inner">
                    <div class="section-footer-nav">
                        <ul>
                            <a href="#">
                                <li>Інформація</li>
                            </a>
                            <a href="#">
                                <li>Топ екскурсій</li>
                            </a>
                            <a href="#">
                                <li>Телефон</li>
                            </a><a href="#">
                                <li>Почта</li>
                            </a>
                        </ul>
                    </div>
                    <div class="section-footer-seo">
                        <div class="section-footer-seo-etc">
                            <p>Сайт розроблений з метою тестування навичок програмування D:)</p>
                        </div>
                        <div class="section-footer-seo-help">
                            <a href="#">
                                <p>Політика користування</p>
                            </a>
                            <a href="#">
                                <p>Підтримка</p>
                            </a>

                        </div>
                    </div>
                    <div class="section-footer-social">
                        <a href="#"><%= image_tag('instargam.svg') %>
                        <a href="#"><%= image_tag('facebook.svg') %>
                        <a href="#"><%= image_tag('telegram.svg') %>
                    </div>
                </div>
            </div>
        </section>
    <% end %>
</footer>
</body>
</html>