<!DOCTYPE html>
<html>
  <head>
    <title>Railway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <p id="notice" class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
    <%= link_to "Вийти", destroy_user_session_path, method: :delete %>
    <p>Акаунт: <%= current_user.email %></p>
  <% else %>
    <%= link_to "Увійти", new_user_session_path %>
  <% end %>

  <%= yield %>
  </body>
  <footer>
    <p>(c) 2022 Козловський Денис - Gotoinc</p>
  </footer>
</html>
